{% extends "authentication/common.html" %}
{% block content %}



{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div id="signin-center">
    <div id="signin-box" class="p-5 text-white box-shedow">
        <!--                <h2>Forgot Password</h2>-->
        <p>Enter Registered Email Address :</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>
{% endblock content %}