{% extends "authentication/common.html" %}
{% block content %}
    <h2>Reset Password</h2>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
<div id="signin-center">
    <div id="signin-box" class="p-5 text-white">
        <form method="post">
             <div class="d-flex  w-100">
                    <div><p>Create Password</p></div>
                </div>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>

    </div>
</div>


    {% endblock content %}