{% extends "authentication/common.html" %}
{% load static %}

{% block content %}
<style>
.item{
    width: 600px;
}

</style>
    <div class="container" style="padding-top: 200px;">

        {% if user.is_authenticated %}
            <div class="user-info">
                <h3>Hello, {{ user_full_name }}</h3>
                <h4>You're successfully logged in.</h4>
                <button type="button" class="btn btn-outline-primary"><a href="/signout">Sign Out</a></button>
            </div>

        {% endif %}
    </div>
{% endblock %}
